<footer class="footer">
  <small>
    The link to <a href="https://github.com/ponyczek/mwr_beta">GitHub Repository</a>
    Created by <a href="http://www.theavalanche.eu/">Adrian Grzywaczewski</a>
  </small>
</footer>